################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/inCase/FileContentIndex/18f64c6b-5d9a-4c10-b199-6e38baf11a8a.vsidx
/.vs/inCase
